# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
pandas
pathlib
scikit-learn
joblib
fastapi
pydantic
uvicorn
numpy
matplotlib
ipykernel
python-dotenv>=0.5.1
flask
Flask-Pydantic